{% extends 'base_layout.html' %}

{% block content %}

    <div class="container body-content">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2>{{ article.title }}</h2>
                        </header>

                        <p>
                            {{ article.snippet }}
                        </p>

                        <small class="author">
                            {{ article.author.username }}
                        </small>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   href="{% url 'articles:detail' slug=article.slug %}">Read more &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}